# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ChongAiApp/node_modules
/ChongAiApp/unpackage
# testing
/ChongAiApp/coverage

# production
/ChongAiApp/build

# misc
/ChongAiApp/.DS_Store
/ChongAiApp/*.pem

# debug
/ChongAiApp/npm-debug.log*
/ChongAiApp/yarn-debug.log*
/ChongAiApp/yarn-error.log*

# local env files
/ChongAiApp/.env*.local

# typescript
/ChongAiApp/*.tsbuildinfo